oauthlib==2.0.1
requests==2.12.4
requests-oauthlib==0.7.0
six==1.10.0
tweepy==3.5.0
APScheduler==3.3.1
funcsigs==1.0.2
futures==3.0.5
oauthlib==2.0.1
pytz==2016.10
requests>=2.20.0
requests-oauthlib==0.7.0
six==1.10.0
tweepy==3.5.0
tzlocal==1.3
